#Example configuration file for the hicup_digester Perl script
################################################################

#Directory to which output files should be written (optional parameter)  Default set to current working directory. 
Outdir:


#Restriction site used to create Hi-C junction and the name of restriction enzyme
#used. Insert a caret ('^') to represent the position where the restriction enzyme cuts
#the DNA strand: [DNA sequence],[restriction enzyme name] 
#Some Hi-C protocols may use two enzymes at this stage. Specify two enzymes as follows: 
#Re1 A^GATCT,BglII:A^AGCTT,HindIII.
Re1: A^AGCTT,HindIII


#Second restriction site (optional) used to trim Hi-C di-tags:
#[DNA sequence],[restriction enzyme name]
#This restriction site does NOT form a Hi-C ligation junction.
#This protocol is unusual and is commented out below.
#Re2: AG^CT,AluI


#Name of the genome to be digested
Genome: Mouse_MM10 

                                                                       
#Sequence files to be digested                                                                       
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr10.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr11.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr12.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr13.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr14.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr15.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr16.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr17.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr18.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr19.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1_GL456210_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1_GL456211_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1_GL456212_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1_GL456213_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr1_GL456221_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr2.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr3.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_GL456216_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_JH584292_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_JH584293_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_JH584294_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_JH584295_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr4_GL456350_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456360.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456366.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456367.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456368.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456370.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456372.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456378.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456379.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456381.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456382.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456383.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456385.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456387.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456389.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456390.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456392.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456393.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456394.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456396.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_JH584304.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX_GL456233_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584300_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584301_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584302_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584303_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456360.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456366.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456367.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456368.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456370.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456372.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456378.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456379.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456381.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456382.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456383.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456385.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456387.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456389.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456390.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456392.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456393.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456394.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456396.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_JH584304.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX_GL456233_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584300_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584301_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584302_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584303_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456360.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456366.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456367.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456368.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456370.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456372.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456378.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456379.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456381.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456382.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456383.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456385.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456387.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456389.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456390.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456392.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456393.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456394.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456396.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_JH584304.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX_GL456233_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584300_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584301_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584302_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584303_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5_GL456354_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5_JH584296_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5_JH584297_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5_JH584298_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr5_JH584299_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr6.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr7.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr7_GL456219_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr8.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chr9.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrM.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456239.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456359.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456360.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456366.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456367.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456368.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456370.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456372.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456378.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456379.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456381.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456382.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456383.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456385.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456387.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456389.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456390.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456392.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456393.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456394.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_GL456396.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrUn_JH584304.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrX_GL456233_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584300_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584301_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584302_random.fa
/work/gbioinfo/Appz/Homer/Homer-4.2/data/genomes/mm10/chrY_JH584303_random.fa
